.light-btn {
    height: 34px;
    width: 34px;
    display: none;
    
}

.dark-btn {
    height: 34px;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display:none;
}