body {
    font-family: roboto;
    background-color: lightskyblue;
}

h1 {
    text-align: center;
}

#tag-line {
    text-align: center;
}

.btns {
    width: 200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100px;
    height: 35px;

    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;

    margin-right: 10px;
}

@media (max-width: 950px) {
    .btn {
        font-size: 12px;
    }
}

.main-box {
    width: 85vw;
    margin: auto;
    margin-top: 20px;
    padding: 15px;

    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

@media (max-width: 500px) {
    h1 {
        font-size: 26px;
    }

    #tag-line {
        width: 60vw;
        margin: auto;
        margin-bottom: 20px;
    }

    ul li {
        font-size: 14px;
    }

    .main-box {
        width: 75vw;
    }
}