@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Nunito:wght@300;400;600;700;800;900&family=Russo+One&family=Spartan:wght@700;800;900&display=swap');

body {
    font-family: poppins;
    background-color:lightsalmon;
}

h1 {
    text-align: center;
}

p {
    font-size: 24px;
}

#inp-para {
    display: inline;
    font-weight: bold;
}

#input-area {
    width: 50vw;
    height: 22px;

    /* margin-top: -15px; */
}

.main-box {
    width: 50vw;
    height: 90vh;

    border: 2px solid black;
    margin: auto;
    padding: 20px;

    border-radius: 10px;

    background-color: wheat;
}

@media (max-width: 950px) {
    .main-box {
        width: 75vw;
        height: 90vh;
    }

    #input-area {
        width: 75vw;
        height: 22px;
    }
}

@media (max-width: 500px) {
    .main-box {
        width: 65vw;
        height: 120vh;
    }

    #input-area {
        width: 50vw;
        height: 22px;
    }
}

.font-line {
    margin-left: 10px;
}

#p1 {
    font-family: arial;
}

#p2 {
    font-family: poppins;
}

#p3 {
    font-family: robota;
}

#p4 {
    font-family: sans-serif;
}

#p5 {
    font-family: teko;
}

#p6 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#p7 {
    font-family: impact;
}

#p8 {
    font-family: orbitron black;
}

#p9 {
    font-family: magneto;
}

#p10 {
    font-family: Castellar;
}