* {
  margin: 0;
  padding: 0;
}

body {
    background-color: #2a9d8f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.share-btn {
    cursor: pointer;
    padding: 1em;
    font-size: 1em;
    width: 7em;
    aspect-ratio: 1/0.25;
    color: white;
    background: #7678ed;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 0.5em;
    outline: 0.1em solid #353535;
    border: 0;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    position: relative;
  }
  
.share-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1em 0.45em rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #212121, #252525);
    background: radial-gradient(
      circle at bottom,
      rgb(118, 120, 237, 0.3) 10%,
      #7678ed 70%
    );
    outline: 0;
  }
  
.icon {
    fill: white;
    width: 1em;
    aspect-ratio: 1;
    top: 0;
    left: 0;
    margin: auto;
    transform: translate(-35%, 10%);
  }
  