body {
    font-family: poppins;
    background-color:cornflowerblue;
}

h1 {
    text-align: center;
}

.main-box {
    height: 30vh;
    width: 30%;
    background-color: darkblue;

    color: white;

    margin: auto;

    border: 2px solid black;
    border-radius: 10px;
}

button {
    height: 30px;
    width: 150px;
}

.btn-row {
    display: flex;
    justify-content: center;

    margin-top: 10px;
}

.number-btn {
    margin-right: 10px;
}

.number-box {
    margin: auto;
    width: 30em;
    text-align: center;

    margin-top: 50px;
}

.number-box p {
    display: inline;

    font-size: 24px;
}